[Unit]
Description=VainBot Twitch
After=network.target
StartLimitBurst=2
StartLimitIntervalSec=15

[Service]
Type=simple
User=vainbot-twitch
WorkingDirectory=/home/vainbot-twitch/bot
ExecStart=/usr/bin/dotnet /home/vainbot-twitch/bot/VainBotTwitch.dll
Restart=on-failure

[Install]
WantedBy=multi-user.target
